/.DS_Store
/test_index.html
/test_index2.html
/extra/*
/extra
/stats
stats_evaluation.py
/hac_env
/hac_env/*
/linear_program
/.vscode
/materials/*old.json
/img/*old*
/*old*
/prolific
/prolific/*
/analysis/*
stats_evaluation.py